# Functions

In [11]:
def add(x,y):
    """
    this function takes two parameters as inputs and returns addition of both parameters.
    """
    c = x+y
    return c

In [12]:
a1 = add(35,45)
a1

80

In [13]:
add(55,89)

144

## Variadic Functions

In [14]:
def add(*args):
    for i in args:
        print(i)

In [15]:
add(56,45,78,96)

56
45
78
96

In [16]:
def add3(*args):
    s = 0
    for i in args:
        print(i)
        s = s+i
    return s

In [17]:
s1 = add3(56,51,5,12,5)
print(s1)

56
51
5
12
5
129

In [18]:
def multiply(x,*args):
    """
    Inputs : X and multiple argumnets
    Output : Returns a welcome statement along with product of given argumnets
    """
    welcome = f"Welcome {x}"
    p = 1
    for i in args:
        p = i*p
    return f"{welcome}. Product of given data is {p}"
m1 = multiply("Raman",67,78)
print(m1)

Welcome Raman. Product of given data is 5226

### I have employee data with me. Emp ids and empnames are stored in list . I want to update their department details , let's assume IT department

In [19]:
employee1 = [1,"Raman"]
employee2 = [2,"Karan"]
employee3 = [3,"Taman"]

In [20]:
def add_dept(*args):
    for i in args:
        i.append("IT")

In [21]:
add_dept(employee1,employee2,employee3)

In [22]:
employee1

[1, 'Raman', 'IT']

In [23]:
employee2

[2, 'Karan', 'IT']

In [24]:
employee3

[3, 'Taman', 'IT']

In [25]:
employee1

[1, 'Raman', 'IT']

## Keywords arguments **kwargs

In [26]:
add(56,78)

56
78

In [27]:
def func(**kwargs):
    print(type(kwargs))
    print(kwargs.items())

In [28]:
dct = {
    "emp":101,
    "dept":"HR"
}

In [29]:
type(dct)

dict

In [30]:
dct.items()

dict_items([('emp', 101), ('dept', 'HR')])

In [31]:
func(id=101,dept="HR")

<class 'dict'>
dict_items([('id', 101), ('dept', 'HR')])

In [32]:
def func2(**kwargs):
    print(kwargs.keys())
    print(kwargs.values())

In [33]:
func2(ids=[101,102,103],dept=("HR","SALES","MKT"))

dict_keys(['ids', 'dept'])
dict_values([[101, 102, 103], ('HR', 'SALES', 'MKT')])

### Write a function that returns the length of input items passed to it

In [34]:
employee1

[1, 'Raman', 'IT']

In [35]:
employee2.append(67000)

In [36]:
employee2

[2, 'Karan', 'IT', 67000]

In [37]:
employee3.append(78500)

In [38]:
employee3.append(True)

In [39]:
employee3

[3, 'Taman', 'IT', 78500, True]

In [40]:
def len_data(**kwargs):
    dct = {}
    for key,l1 in kwargs.items():
        dct[key] = len(l1)
    return dct

In [41]:
len_data(emp1=employee1,emp2=employee2,emp3=employee3)

{'emp1': 3, 'emp2': 4, 'emp3': 5}

In [45]:
def grade_student(**kwargs):
    dct = {}
    for name, marks in kwargs.items():
        if marks < 35:
            dct[name] = 'F'
        elif marks <= 60:
            dct[name] = 'B'
        elif marks <= 100:  # assuming 0â€“100 is valid range
            dct[name] = 'A'
        else:
            dct[name] = 'Invalid Marks'
    return dct

# Example usage
result = grade_student(John=45, Mary=30, Alex=105)
print(result)
result1 = grade_student(john=95,alkex=55,meg=10)
print(result1)

{'John': 'B', 'Mary': 'F', 'Alex': 'Invalid Marks'}
{'john': 'A', 'alkex': 'B', 'meg': 'F'}